
.Logo-img {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Logo-img {
    animation: Logo-img-spin infinite 20s linear;
  }
}

@keyframes Logo-img-spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
